<h1>Main Cat Page</h1>
<h2>{{successMessage}}</h2>
<img src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_513189787_110007.jpg" alt="cat" width="400" heigh="400">
<a href="/">Back to Home Page</a>