<h1>Private super secret page</h1>
<h2>{{successMessage}}:</h2>
<img src="https://www.letseatcake.com/wp-content/uploads/2021/07/funny-memes-12.jpg" width="400" height="auto" alt="best-meme">
<a href="/">Back to Home Page</a>