<h1>Create profile</h1>

<form action="/signup" method="post">
<label for="email-address"> Email: 
    <input type="email" name="email" id="email-address" required>
</label>
<label for="user-name"> Username: 
    <input type="text" name="username" id="user-name" required>
</label>
<label for="user-password"> Password:
    <input type="password" name="password" id="user-password" required>
</label>
    <button type="submit">Sign up</button>
</form>