
{{#if userInSession}}
    <h1>Welcome {{userInSession.username}}!</h1>
{{else}}
    <h1>Please <a href="/login">log in</a></h1>
{{/if}}

<form action="/login/logout" method="post">
    <button type="submit">Log out</button>
</form>